@model IEnumerable<Product>

@{
    Layout = "_Layout";
}




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {  
    <tr>
      <th scope="row">@item.ProductId</th>
      <td>@item.Name</td>
      <td>@item.Description</td>
      <td>@item.Price</td>
      <td>@item.Category.Name</td>
      <td class="text-center">
            <form asp-action="AddToCart" method="post">
              <a asp-action="AddToCart" class="btn btn-sm btn-warning" asp-route-productId="@item.ProductId">
                Edytuj
              </a>
            
            </form>
            </td>
    </tr>
    }
    
  </tbody>
</table>




