@model IEnumerable<Product>

@{
    Layout = "_Layout";
}




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {  
    <tr>
      <th scope="row">@item.ProductId</th>
      <td>@item.Name</td>
      <td>@item.Description</td>
      <td>@item.Price</td>
      <td>@item.Category.Name</td>
      <td class="text-center">
            <form id="@item.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
              <input type="hidden" asp-for="@item.ProductId" />
              <input type="hidden" name="productId" value="@item.ProductId" />
              <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
              
                <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right" >
                  Dodaj do koszyka
                </button>
              
            </form>
        </td>
    </tr>
    }
    
  </tbody>
</table>




